body{
    background: #242321;
font-family: Nunito;
}
 
#mainnavbar .navbar-brand{
    color: #ea1c2c;
   font-size: 2rem;
   font-weight: 800;
}
#mainnavbar{
    font-size: 1.5rem;
    font-weight: 500;
}

#mainnavbar .nav-link{
    color: rgb(255, 255, 255);

}
#mainnavbar .nav-link:hover{
   color: #ea1c2c;
    background-color: rgb(35, 20, 236);
    
}
#heading-group span{
    color: #8c19eb;
}
#heading-group h2{
     font-weight: 500;
     font-size: 3rem;
     color: rgb(219, 245, 71)  ;
}

@media (max-width:1500px)
{
    #heading-group h2{
        font-weight: 100;
        font-size: 2rem;
   }
}

body{

    height: 100%;
    position: relative;
    width: 99%;
    box-sizing: border-box;
}
@media(max-width:800px){
#navlinks{
    background-color: rgb(240, 87, 227);
}

}
.h2text{
  color: #ea1c2c;   
}   
.lead{
    color: #faa442;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled{
    background: rgb(240, 87, 227);
    transition: background 500ms;
}
